header{
    width: 100%;
    height: 100px;
    background-color: #3a3838;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;   
}

.header__nameText{
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    
}

.header__favorites{
    font-size: 30px;
    color: #646cff;
    cursor: pointer;
}