.film-list {
  display: flex;
  flex-wrap: wrap; /* перенос на новую строку */
  gap: 20px;       /* расстояние между карточками */
  justify-content: center; /* центрируем */
  margin-top: 20px;
}

.film-card {
  width: 300px;
  text-align: center;
  background: #222;
  border-radius: 10px;
  padding: 10px;
}

.film-card__img {
  width: 100%;
  border-radius: 8px;
}

.film-card__title {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}
