.film-list {
  display: flex;
  flex-wrap: wrap; /* перенос на новую строку */
  gap: 20px;       /* расстояние между карточками */
  justify-content: center; /* центрируем */
  margin-top: 20px;
}

.film-card {
  position: relative;
  width: 300px;
  text-align: center;
  background: #222;
  border-radius: 10px;
  padding: 10px;
}

.film-card__img{
  border-radius: 8px;
  width: 100%;
  filter: brightness(60%);
  border-radius: 8px;
}

.film-card__title {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}

.film-card__favorite {
  cursor: pointer;
  position: absolute;
  z-index: 1000;
  top: 2%;
  right: 5%;
  font-size: 32px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ff4d4d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: 2px solid rgba(255, 255, 255, 0.3);
}